@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "sily";
  src: url(../font/Silk\ Serif\ Black.otf);
}
@font-face {
  font-family: "sily_italic";
  src: url(../font/Silk\ Serif\ Black\ Italic.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  word-break: keep-all;
  text-decoration: none;
  color: #181818;
}

body {
  width: 100%;
  font-family: "Manrope", "pretendard", sans-serif;
  position: relative;
}

#wrap {
  width: 100%;
  height: 100%;
}
#wrap main .main_content {
  width: 100%;
  height: 800px;
  position: relative;
  border-bottom: 1px solid #181818;
  background: linear-gradient(0deg, #FE3C00, #fff);
}
#wrap main .main_content .logo {
  display: flex;
  width: 100%;
  height: 100%;
  padding: calc(0.75rem * 2);
}
#wrap main .main_content .logo > div {
  height: calc((100vw - 0.75rem * 4) * 0.1573);
  width: 100%;
  animation: logoScaler;
  animation-duration: 7s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.66, -0.01, 0.43, 1.01);
}
#wrap main .main_content .logo > div svg {
  width: 100%;
  height: 100%;
}
#wrap main .main_content .logo > div svg path {
  fill: #000;
}
#wrap main .main_content .logo > div.group-1 {
  animation-name: logoScaler_largest;
}
#wrap main .main_content .logo > div.group-2 {
  animation-name: logoScaler_larger;
  animation-delay: calc(7s / 5);
}
#wrap main .main_content .logo > div.group-3 {
  animation-delay: calc(7s / 5 * 2);
}
#wrap main .main_content .logo > div.group-4 {
  animation-delay: calc(7s / 5 * 3);
}
#wrap main .main_content .logo > div.group-5 {
  animation-delay: calc(7s / 5 * 4);
}
#wrap main .main_content .logo > div.group-6 {
  animation-delay: calc(7s / 5 * 5);
}
#wrap main .main_content .logo .c {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 400px;
}
#wrap main .main_content .logo .i {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 600px;
}
#wrap main .main_content .logo .w {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 2000px;
}
#wrap main .main_content .logo .a {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 800px;
}
#wrap main .main_content .link-tree {
  font-size: calc(1.5rem + 0.3vw);
  width: 100%;
  height: 100vh;
  line-height: 1.55em;
  counter-reset: linkTree;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 1500;
}
#wrap main .main_content .link-tree li {
  display: flex;
  align-items: center;
  color: #181818;
  border-bottom: 3px solid transparent;
  text-decoration: underline;
}
#wrap main .main_content .link-tree li:nth-of-type(1) {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0);
}
#wrap main .main_content .link-tree li:nth-of-type(2) {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 0);
}
#wrap main .main_content .link-tree .container {
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#wrap main .main_content .link-tree .chevron {
  position: absolute;
  width: 20px;
  height: 5px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 4s ease-out infinite;
}
#wrap main .main_content .link-tree .chevron:first-child {
  animation: move 4s ease-out 1s infinite;
}
#wrap main .main_content .link-tree .chevron:nth-child(2) {
  animation: move 4s ease-out 2s infinite;
}
#wrap main .main_content .link-tree .chevron:before,
#wrap main .main_content .link-tree .chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #181818;
}
#wrap main .main_content .link-tree .chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}
#wrap main .main_content .link-tree .chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}
@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
#wrap main .main_content .link-tree .text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.25;
  animation: pulse 2s linear alternate infinite;
}
@keyframes pulse {
  to {
    opacity: 1;
  }
}
#wrap main .main_content .copy {
  font-size: 1rem;
  position: absolute;
  bottom: 3%;
  line-height: 1.7rem;
  font-family: "pretendard", sans-serif;
}
@keyframes dash {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes logoScaler {
  0% {
    height: calc((100vw - 0.75rem * 4) * 0.1573);
  }
  100% {
    height: 52%;
  }
}
@keyframes logoScaler_larger {
  0% {
    height: calc((100vw - 0.75rem * 4) * 0.1573);
  }
  100% {
    height: 73.33%;
  }
}
@keyframes logoScaler_largest {
  100% {
    height: 100%;
  }
}
#wrap main .about {
  width: 100%;
  height: 600px;
  border-bottom: 1px solid #181818;
  display: flex;
}
#wrap main .about .about_left {
  width: 50%;
  height: 100%;
  border-right: 1px solid #181818;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #FE3C00, #fff);
}
#wrap main .about .about_left .about_left_content {
  width: 80%;
  height: 80%;
}
#wrap main .about .about_left .about_left_content h1 {
  font-size: 4rem;
  margin-bottom: 15px;
  letter-spacing: -2px;
}
#wrap main .about .about_left .about_left_content p {
  width: 85%;
  font-family: "pretendard";
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 28px;
  word-break: keep-all;
  margin-bottom: 30px;
}
#wrap main .about .about_left .about_left_content .resume {
  font-family: "pretendard";
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
  background-image: linear-gradient(transparent calc(100% - 3px), #181818 1px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.8s;
  padding-bottom: 5px;
}
#wrap main .about .about_left .about_left_content .resume:hover {
  background-size: 100% 100%;
}
#wrap main .about .about_right {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#wrap main .about .about_right .about_right_inner {
  width: 100%;
  height: 90%;
  background-image: url(../img/about.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
#wrap main .skill {
  height: 700px;
}
#wrap main .skill .about_right {
  width: 50%;
  height: 100%;
}
#wrap main .skill .about_right .content {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap main .skill .about_right .content .inner {
  width: 90%;
  height: auto;
}
#wrap main .skill .about_right .content .inner h1 {
  font-size: 1.7rem;
  margin-bottom: 10px;
  letter-spacing: -1px;
}
#wrap main .skill .about_right .content .inner p {
  width: 90%;
  font-family: "pretendard";
  font-weight: 400;
  line-height: 35px;
  font-size: 1.1rem;
}
#wrap main .skill .about_right .content .inner p span {
  text-decoration: underline;
  font-weight: 600;
}
#wrap main .skill .about_right .activities {
  border-top: 1px solid #181818;
}
#wrap main .skill .about_right .tect_stack {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #181818;
}
#wrap main .skill .about_right .tect_stack .tect_stack_name {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181818;
}
#wrap main .skill .about_right .tect_stack .tect_stack_name p {
  color: #fff;
}
#wrap main .skill .about_right .tect_stack .tect_stack_icon {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#wrap main .skill .about_right .tect_stack .tect_stack_icon img {
  height: 60%;
}
#wrap main .tech {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#wrap main .tech .tech_stack {
  width: 20%;
  height: 100%;
  border-right: 1px solid #181818;
  border-bottom: 1px solid #181818;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap main .tech .tech_stack p {
  font-size: 1.5rem;
  letter-spacing: 8px;
  font-weight: 400;
}
#wrap main .tech .tech_icon {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #181818;
}
#wrap main .tech .tech_icon .tech_icon_inner {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: space-between;
}
#wrap main .tech .tech_icon .tech_icon_inner img {
  height: 100%;
}
#wrap main .publishing {
  width: 100%;
  height: 140px;
  border-bottom: 1px solid #181818;
  display: flex;
  align-items: center;
}
#wrap main .publishing .animated-title {
  font-size: 6rem;
  font-weight: 500;
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  align-items: center;
}
#wrap main .publishing .animated-title .track {
  white-space: nowrap;
  will-change: transform;
  animation: marquee 60s linear infinite;
}
#wrap main .publishing .animated-title .track .content .trans {
  color: transparent;
  -webkit-text-stroke: 1px #181818;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
#wrap main .publishing_project {
  width: 100%;
  height: 450px;
  border-bottom: 1px solid #181818;
  display: flex;
}
#wrap main .publishing_project a {
  width: 50%;
  height: 100%;
}
#wrap main .publishing_project .project_thumb {
  height: 100%;
  overflow: hidden;
  position: relative;
}
#wrap main .publishing_project .project_thumb img {
  width: 110%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all ease-in-out 0.3s;
}
#wrap main .publishing_project .project_thumb:hover img {
  width: 120%;
}
#wrap main .publishing_project .right {
  border-left: 1px solid #181818;
  background-color: #d9d9d9;
}
#wrap main .publishing_project .left {
  border-right: 1px solid #181818;
  background-color: #d9d9d9;
}
#wrap main .publishing_project .project_ex {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap main .publishing_project .project_ex .project_ex_inner {
  width: 85%;
  height: 75%;
}
#wrap main .publishing_project .project_ex .project_ex_inner h1 {
  font-size: 3rem;
  margin-bottom: 18px;
  font-weight: 800;
  width: 80%;
}
#wrap main .publishing_project .project_ex .project_ex_inner .bold {
  margin-top: 10px;
  margin-bottom: 3px;
}
#wrap main .publishing_project .project_ex .project_ex_inner .bold p {
  font-family: 900;
}
#wrap main .publishing_project .project_ex .project_ex_inner_another {
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #181818;
  font-family: "pretendard";
}
#wrap main .publishing_project .project_ex .project_ex_inner_another .pub_button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#wrap main .publishing_project .project_ex .project_ex_inner_another .pub_button a {
  width: 100%;
  height: 100%;
  display: block;
  color: #181818;
}
#wrap main .publishing_project .project_ex .project_ex_inner_another .go {
  height: 100%;
  background-color: #FE3C00;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
#wrap main .publishing_project .project_ex .project_ex_inner_another .go:hover {
  background-color: #181818;
  color: #fff;
}
#wrap main .publishing_project .project_ex .project_ex_inner_another .pub_button_left {
  border-right: 1px solid #181818;
  color: #181818;
  background-color: #fff;
}
#wrap main .design_project {
  width: 100%;
  height: 900px;
  border-bottom: 1px solid #181818;
}
#wrap main .design_project .design_project_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrap main .design_project .design_project_wrap .left_wrap {
  width: 50%;
  height: 100%;
  border-right: 1px solid #181818;
}
#wrap main .design_project .design_project_wrap .left_wrap .design_top {
  width: 100%;
  height: 50%;
  border-bottom: 1px solid #181818;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
#wrap main .design_project .design_project_wrap .left_wrap .design_top img {
  width: 100%;
  transition: all ease-in-out 0.3s;
}
#wrap main .design_project .design_project_wrap .left_wrap .design_top img:hover {
  width: 110%;
}
#wrap main .design_project .design_project_wrap .left_wrap .design_top a {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
}
#wrap main .design_project .design_project_wrap .left_wrap .design_top .bar {
  position: absolute;
  bottom: 0;
  border-top: 1px solid #181818;
  width: 100%;
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
#wrap main .design_project .design_project_wrap .left_wrap .design_top .bar img {
  width: 20px;
  height: 20px;
}
#wrap main .design_project .design_project_wrap .left_wrap .design_top .bar .tap {
  position: absolute;
  right: 30px;
  width: 20px;
  height: 20px;
  display: none;
}
#wrap main .design_project .design_project_wrap .left_wrap .design_top .bar h4 {
  padding-left: 20px;
}
#wrap main .design_project .design_project_wrap .left_wrap .design_top .bar:hover {
  background-color: #181818;
  color: #d9d9d9;
}
#wrap main .design_project .design_project_wrap .left_wrap .design_top .bar:hover h4 {
  color: #d9d9d9;
}
#wrap main .design_project .design_project_wrap .left_wrap .design_top .bar:hover .tap {
  display: block;
}
#wrap main .design_project .design_project_wrap .left_wrap .design_bottom {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
#wrap main .design_project .design_project_wrap .left_wrap .design_bottom img {
  width: 100%;
  transition: all ease-in-out 0.3s;
}
#wrap main .design_project .design_project_wrap .left_wrap .design_bottom img:hover {
  width: 110%;
}
#wrap main .design_project .design_project_wrap .left_wrap .design_bottom a {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
}
#wrap main .design_project .design_project_wrap .left_wrap .design_bottom .bar {
  position: absolute;
  bottom: 0;
  border-top: 1px solid #181818;
  width: 100%;
  height: 50px;
  background-color: #fff;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all ease-in-out 0.3s;
}
#wrap main .design_project .design_project_wrap .left_wrap .design_bottom .bar img {
  width: 20px;
  height: 20px;
}
#wrap main .design_project .design_project_wrap .left_wrap .design_bottom .bar h4 {
  padding-left: 20px;
}
#wrap main .design_project .design_project_wrap .left_wrap .design_bottom .bar .tap {
  position: absolute;
  right: 30px;
  width: 20px;
  height: 20px;
  display: none;
}
#wrap main .design_project .design_project_wrap .left_wrap .design_bottom .bar:hover {
  background-color: #181818;
  color: #d9d9d9;
}
#wrap main .design_project .design_project_wrap .left_wrap .design_bottom .bar:hover h4 {
  color: #d9d9d9;
}
#wrap main .design_project .design_project_wrap .left_wrap .design_bottom .bar:hover .tap {
  display: block;
}
#wrap main .design_project .design_project_wrap .right_wrap {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
#wrap main .design_project .design_project_wrap .right_wrap img {
  height: 100%;
  transition: all ease-in-out 0.3s;
}
#wrap main .design_project .design_project_wrap .right_wrap img:hover {
  height: 110%;
}
#wrap main .design_project .design_project_wrap .right_wrap a {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
}
#wrap main .design_project .design_project_wrap .right_wrap a .bar {
  border-top: 1px solid #181818;
  background-color: #fff;
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all ease-in-out 0.3s;
}
#wrap main .design_project .design_project_wrap .right_wrap a .bar img {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 30px;
}
#wrap main .design_project .design_project_wrap .right_wrap a .bar h4 {
  padding-left: 20px;
}
#wrap main .design_project .design_project_wrap .right_wrap a .bar .tap {
  position: absolute;
  right: 30px;
  width: 20px;
  height: 20px;
  display: none;
}
#wrap main .design_project .design_project_wrap .right_wrap a .bar:hover {
  background-color: #181818;
  color: #d9d9d9;
}
#wrap main .design_project .design_project_wrap .right_wrap a .bar:hover h4 {
  color: #d9d9d9;
}
#wrap main .design_project .design_project_wrap .right_wrap a .bar:hover .tap {
  display: block;
}
#wrap main .animation_bar {
  width: 100%;
  height: 50px;
  position: relative;
  border-bottom: 1px solid #181818;
  background-color: #FE3C00;
}
#wrap main .animation_bar .animated-title {
  font-size: 1.1rem;
  font-weight: 400;
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 2000;
}
#wrap main .animation_bar .animated-title .track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 60s linear infinite;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
#wrap main .contact {
  width: 100%;
  height: 500px;
  border-bottom: 1px solid #181818;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap main .contact .contact_inner {
  width: 90%;
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}
#wrap main .contact .contact_inner .contact_top {
  width: 100%;
  height: 80%;
  align-self: flex-start;
}
#wrap main .contact .contact_inner .contact_top p {
  font-size: 1.2rem;
}
#wrap main .contact .contact_inner .contact_top h1 {
  font-size: 5rem;
  line-height: 60px;
}
#wrap main .contact .contact_inner .contact_top h3 {
  font-size: 2rem;
  font-family: "pretendard";
  margin-top: 20px;
}
#wrap main .contact .contact_inner .contact_bottom {
  width: 100%;
  height: 80%;
}
#wrap main .contact .contact_inner .contact_bottom p {
  font-size: 2rem;
  line-height: 50px;
}
#wrap footer {
  width: 100%;
  height: 150px;
  background-color: #181818;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap footer p {
  color: #fff;
  font-size: 1.1rem;
  line-height: 27px;
}